#### Creating the DataFrames to visualize the data

In [1]:
import os
import pandas as pd

In [4]:
root_dir = r'D:\Nuvem\OneDrive - Indra\√Årea de Trabalho\DATAGLOWUP_34\downloads'

# List all the file names to be searched in each subfolder
file_names = ['listings.csv', 'listings_2.csv', 'calendar_2.csv', 'neighbourhoods.csv', 'reviews.csv', 'reviews_2.csv']

# Dictionary to store the combined DataFrames for each file name
combined_dataframes = {}

# Iterate over the file names
for filename in file_names:
    # List to store the DataFrames from each subfolder for a specific file
    dataframes = []
    # Iterate over the subfolders
    for foldername, _, filenames in os.walk(root_dir):
        # Check if the file is present in the subfolder
        if filename in filenames:
            # Construct the full path to the file
            filepath = os.path.join(foldername, filename)
            # Read the file and store it in a DataFrame
            df = pd.read_csv(filepath, low_memory=False)
            # Remove columns with all null values
            df = df.dropna(axis=1, how='all')
            # Add a new column with the city name (subfolder name)
            df['City'] = os.path.basename(foldername)
            # Add the DataFrame to the list
            dataframes.append(df)
    # Combine all DataFrames into a single DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True)
    # Store the combined DataFrame in the dictionary
    combined_dataframes[filename] = combined_df

In [4]:
# Show the combined DataFrames for each file
for filename, df in combined_dataframes.items():
    print(f'\nCombined DataFrame for {filename}:')
    print(df.info())
    print('\nNulls per column:')
    print(df.isnull().sum())

DataFrame combinado para listings.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194436 entries, 0 to 194435
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              194436 non-null  int64
 1   name                            194436 non-null  object
 2   host_id                         194436 non-null  int64
 3   host_name                       194436 non-null  object
 4   neighbourhood                   194436 non-null  object
 5   latitude                        194436 non-null  float64
 6   longitude                       194436 non-null  float64
 7   room_type                       194436 non-null  object
 8   price                           183729 non-null  float64
 9   minimum_nights                  194436 non-null  int64
 10  number_of_reviews               194436 non-null  int64
 11  last_review                     144754 non-null  object
 12  reviews_per_month               144754 non-null  float64
 13  calculated_host_listings_count  194436 non-null  int64
 14  availability_365                194436 non-null  int64
 15  number_of_reviews_ltm           194436 non-null  int64
 16  license                         58070 non-null   object
 17  neighbourhood_group             49839 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 26.7+ MB
None

Quantidade de valores nulos por coluna:
id                                     0
name                                   0
host_id                                0
host_name                              0
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                              10707
minimum_nights                         0
number_of_reviews                      0
last_review                        49682
reviews_per_month                  49682
calculated_host_listings_count         0
availability_365                       0
number_of_reviews_ltm                  0
license                           136366
neighbourhood_group               144597
dtype: int64

DataFrame combinado para listings_2.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194436 entries, 0 to 194435
Data columns (total 74 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   id                                            194436 non-null  int64
 1   listing_url                                   194436 non-null  object
 2   scrape_id                                     194436 non-null  int64
 3   last_scraped                                  194436 non-null  object
 4   source                                        194436 non-null  object
 5   name                                          194436 non-null  object
 6   neighborhood_overview                         96824 non-null   object
 7   picture_url                                   194436 non-null  object
 8   host_id                                       194436 non-null  int64
 9   host_url                                      194436 non-null  object
 10  host_name                                     194436 non-null  object
 11  host_since                                    194436 non-null  object
 12  host_location                                 139414 non-null  object
 13  host_about                                    86998 non-null   object
 14  host_response_time                            148717 non-null  object
 15  host_response_rate                            148717 non-null  object
 16  host_acceptance_rate                          170719 non-null  object
 17  host_is_superhost                             193794 non-null  object
 18  host_thumbnail_url                            194436 non-null  object
 19  host_picture_url                              194436 non-null  object
 20  host_neighbourhood                            38163 non-null   object
 21  host_listings_count                           194436 non-null  int64
 22  host_total_listings_count                     194436 non-null  int64
 23  host_verifications                            194436 non-null  object
 24  host_has_profile_pic                          194436 non-null  object
 25  host_identity_verified                        194436 non-null  object
 26  neighbourhood                                 96824 non-null   object
 27  neighbourhood_cleansed                        194436 non-null  object
 28  latitude                                      194436 non-null  float64
 29  longitude                                     194436 non-null  float64
 30  property_type                                 194436 non-null  object
 31  room_type                                     194436 non-null  object
 32  accommodates                                  194436 non-null  int64
 33  bathrooms_text                                194236 non-null  object
 34  beds                                          183218 non-null  float64
 35  amenities                                     194436 non-null  object
 36  price                                         183729 non-null  object
 37  minimum_nights                                194436 non-null  int64
 38  maximum_nights                                194436 non-null  int64
 39  minimum_minimum_nights                        194436 non-null  int64
 40  maximum_minimum_nights                        194436 non-null  int64
 41  minimum_maximum_nights                        194436 non-null  int64
 42  maximum_maximum_nights                        194436 non-null  int64
 43  minimum_nights_avg_ntm                        194436 non-null  float64
 44  maximum_nights_avg_ntm                        194436 non-null  float64
 45  has_availability                              191357 non-null  object
 46  availability_30                               194436 non-null  int64
 47  availability_60                               194436 non-null  int64
 48  availability_90                               194436 non-null  int64
 49  availability_365                              194436 non-null  int64
 50  calendar_last_scraped                         194436 non-null  object
 51  number_of_reviews                             194436 non-null  int64
 52  number_of_reviews_ltm                         194436 non-null  int64
 53  number_of_reviews_l30d                        194436 non-null  int64
 54  first_review                                  144754 non-null  object
 55  last_review                                   144754 non-null  object
 56  review_scores_rating                          144769 non-null  float64
 57  review_scores_accuracy                        144618 non-null  float64
 58  review_scores_cleanliness                     144620 non-null  float64
 59  review_scores_checkin                         144603 non-null  float64
 60  review_scores_communication                   144614 non-null  float64
 61  review_scores_location                        144598 non-null  float64
 62  review_scores_value                           144595 non-null  float64
 63  license                                       58070 non-null   object
 64  instant_bookable                              194436 non-null  object
 65  calculated_host_listings_count                194436 non-null  int64
 66  calculated_host_listings_count_entire_homes   194436 non-null  int64
 67  calculated_host_listings_count_private_rooms  194436 non-null  int64
 68  calculated_host_listings_count_shared_rooms   194436 non-null  int64
 69  reviews_per_month                             144754 non-null  float64
 70  description                                   138204 non-null  object
 71  bathrooms                                     132070 non-null  float64
 72  bedrooms                                      140074 non-null  float64
 73  neighbourhood_group_cleansed                  49839 non-null   object
dtypes: float64(15), int64(23), object(36)
memory usage: 109.8+ MB
None

Quantidade de valores nulos por coluna:
id                                   0
listing_url                          0
scrape_id                            0
last_scraped                         0
source                               0
                                 ...
reviews_per_month                49682
description                      56232
bathrooms                        62366
bedrooms                         54362
neighbourhood_group_cleansed    144597
Length: 74, dtype: int64

DataFrame combinado para calendar_2.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70969723 entries, 0 to 70969722
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   minimum_nights  float64
 5   maximum_nights  float64
 6   adjusted_price  object
dtypes: float64(2), int64(1), object(4)
memory usage: 3.7+ GB
None

Quantidade de valores nulos por coluna:
listing_id               0
date                     0
available                0
price                    0
minimum_nights          27
maximum_nights          27
adjusted_price    70926288
dtype: int64

DataFrame combinado para neighbourhoods.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150 entries, 0 to 1149
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood        1150 non-null   object
 1   neighbourhood_group  372 non-null    object
dtypes: object(2)
memory usage: 18.1+ KB
None

Quantidade de valores nulos por coluna:
neighbourhood            0
neighbourhood_group    778
dtype: int64

DataFrame combinado para reviews.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6005484 entries, 0 to 6005483
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
dtypes: int64(1), object(1)
memory usage: 91.6+ MB
None

Quantidade de valores nulos por coluna:
listing_id    0
date          0
dtype: int64

DataFrame combinado para reviews_2.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6005484 entries, 0 to 6005483
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   listing_id     int64
 1   id             int64
 2   date           object
 3   reviewer_id    int64
 4   reviewer_name  object
 5   comments       object
dtypes: int64(3), object(3)
memory usage: 274.9+ MB
None

Quantidade de valores nulos por coluna:
listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      2
comments         216
dtype: int64

In [7]:
# Show the first lines for each combined DataFrame
for filename, df in combined_dataframes.items():
    print(f'\nCombined DataFrame for {filename}:')
    print(df.head())

DataFrame combinado para listings.csv:
       id                                               name  host_id  \
0   15526  Villa in Solto Collina ¬∑ ‚òÖ4.83 ¬∑ 2 bedrooms ¬∑ ...    60754
1   15542  Villa in Solto Collina ¬∑ ‚òÖ4.91 ¬∑ 1 bedroom ¬∑ 2...    60754
2  116423  Rental unit in Bossico ¬∑ ‚òÖ4.73 ¬∑ 2 bedrooms ¬∑ ...   588254
3  179345  Rental unit in Bossico ¬∑ ‚òÖ4.75 ¬∑ 1 bedroom ¬∑ 4...   588254
4  215933  Loft in Bergamo ¬∑ ‚òÖ4.90 ¬∑ 1 bedroom ¬∑ 2 beds ¬∑...   816380

  host_name  neighbourhood   latitude  longitude        room_type  price  \
0    Andrea  Solto Collina  45.783200  10.026600  Entire home/apt  135.0
1    Andrea  Solto Collina  45.782840  10.024570  Entire home/apt   99.0
2    Angela        Bossico  45.828400  10.044760  Entire home/apt   67.0
3    Angela        Bossico  45.827220  10.046020  Entire home/apt   77.0
4  Marcella        Bergamo  45.698385   9.675597     Private room  100.0

   minimum_nights  number_of_reviews last_review  reviews_per_month  \
0               4                 42  2022-08-13               0.27
1               2                 47  2023-06-16               0.33
2               2                 11  2023-12-10               0.16
3               1                 20  2023-09-17               0.29
4               1                 69  2023-11-11               0.53

   calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                               5               209                      0
1                               5               177                      3
2                               3               293                      1
3                               3               301                      5
4                              15               338                     28

                      license     City neighbourhood_group
0    CIR: 016200 ‚Äì CNI -00005  bergamo                 NaN
1    CIR: 016200 ‚Äì CNI -00005  bergamo                 NaN
2  CIR 016033-CNI-00002T00146  bergamo                 NaN
3  CIR 016033-CNI-00002T00146  bergamo                 NaN
4         cir: 016024REC00185  bergamo                 NaN

DataFrame combinado para listings_2.csv:
                   id                                      listing_url  \
0            53527563            https://www.airbnb.com/rooms/53527563
1  583843076540750428  https://www.airbnb.com/rooms/583843076540750428
2  902842874652788522  https://www.airbnb.com/rooms/902842874652788522
3            53570244            https://www.airbnb.com/rooms/53570244
4  922282138679070466  https://www.airbnb.com/rooms/922282138679070466

        scrape_id last_scraped       source  \
0  20231229163156   2023-12-29  city scrape
1  20231229163156   2023-12-29  city scrape
2  20231229163156   2023-12-29  city scrape
3  20231229163156   2023-12-30  city scrape
4  20231229163156   2023-12-30  city scrape

                                                name  \
0  Rental unit in Dossena ¬∑ ‚òÖ4.43 ¬∑ 1 bedroom ¬∑ 2...
1  Rental unit in Plassi ¬∑ ‚òÖ4.85 ¬∑ 1 bedroom ¬∑ 2 ...
2  Rental unit in Ranzanico ¬∑ ‚òÖ4.83 ¬∑ 1 bedroom ¬∑...
3  Vacation home in Bergamo ¬∑ ‚òÖ4.93 ¬∑ 2 bedrooms ...
4  Rental unit in Bergamo ¬∑ ‚òÖ4.90 ¬∑ 1 bedroom ¬∑ 2...

                               neighborhood_overview  \
0                                                NaN
1                                                NaN
2                                                NaN
3  L‚Äô appartamento, silenzioso e luminoso si trov...
4  Immergetevi nell'atmosfera incantata di Borgo ...

                                         picture_url    host_id  \
0  https://a0.muscache.com/pictures/prohost-api/H...   21763382
1  https://a0.muscache.com/pictures/prohost-api/H...  392969278
2  https://a0.muscache.com/pictures/miso/Hosting-...  517350267
3  https://a0.muscache.com/pictures/miso/Hosting-...    2831947
4  https://a0.muscache.com/pictures/6f618791-cdfd...  112088465

                                      host_url  ...  \
0   https://www.airbnb.com/users/show/21763382  ...
1  https://www.airbnb.com/users/show/392969278  ...
2  https://www.airbnb.com/users/show/517350267  ...
3    https://www.airbnb.com/users/show/2831947  ...
4  https://www.airbnb.com/users/show/112088465  ...

  calculated_host_listings_count calculated_host_listings_count_entire_homes  \
0                             15                                          15
1                             13                                          13
2                              1                                           1
3                              6                                           6
4                              1                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month     City  \
0                                           0              0.28  bergamo
1                                           0              0.63  bergamo
2                                           0              1.13  bergamo
3                                           0              3.24  bergamo
4                                           0              2.22  bergamo

  description bathrooms bedrooms neighbourhood_group_cleansed
0         NaN       NaN      NaN                          NaN
1         NaN       NaN      NaN                          NaN
2         NaN       NaN      NaN                          NaN
3         NaN       NaN      NaN                          NaN
4         NaN       NaN      NaN                          NaN

[5 rows x 75 columns]

DataFrame combinado para calendar_2.csv:
   listing_id        date available    price  minimum_nights  maximum_nights  \
0       15526  2023-12-29         f  $138.00             5.0          1125.0
1       15526  2023-12-30         f  $138.00             5.0          1125.0
2       15526  2023-12-31         f  $138.00             5.0          1125.0
3       15526  2024-01-01         f  $138.00             5.0          1125.0
4       15526  2024-01-02         f  $138.00             5.0          1125.0

      City adjusted_price
0  bergamo            NaN
1  bergamo            NaN
2  bergamo            NaN
3  bergamo            NaN
4  bergamo            NaN

DataFrame combinado para neighbourhoods.csv:
            neighbourhood     City neighbourhood_group
0      Adrara San Martino  bergamo                 NaN
1        Adrara San Rocco  bergamo                 NaN
2  Albano Sant'Alessandro  bergamo                 NaN
3                  Albino  bergamo                 NaN
4                   Algua  bergamo                 NaN

DataFrame combinado para reviews.csv:
   listing_id        date     City
0       15526  2011-06-14  bergamo
1       15526  2011-07-31  bergamo
2       15526  2012-09-22  bergamo
3       15526  2013-08-08  bergamo
4       15526  2014-06-12  bergamo

DataFrame combinado para reviews_2.csv:
   listing_id        id        date  reviewer_id reviewer_name  \
0       15526    314442  2011-06-14       324113      Modestas
1       15526    408859  2011-07-31       788193           Jon
2       15526   2369937  2012-09-22      3148551        Oriane
3       15526   6324796  2013-08-08       397704        Martin
4       15526  14113480  2014-06-12      4789610         Lissy

                                            comments     City
0  We went for weekends experience to Italy to st...  bergamo
1  The view from the terrace is amazing, even bet...  bergamo
2  Maison splendide. Accueil tr√®s agr√©able. Ernes...  bergamo
3  Abbiamo passato cinque notti al Palazzo e ci s...  bergamo
4  It was so fantastic to stay in Palazzo. The wa...  bergamo

#### Creating the Data Base

In [ ]:
# Installing the necessary libraries
!pip install sqlalchemy psycopg2-binary pandas

In [5]:
import sqlite3
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# Database name
database_name = 'Airbnd_Italia.db'

# Mapping of pandas data types to SQLite data types
type_mapping = {
    'int64': 'INTEGER',
    'float64': 'REAL',
    'object': 'TEXT',
    'bool': 'INTEGER',
    'datetime64[ns]': 'TEXT',
    'timedelta[ns]': 'TEXT'
}

# Function to create a table automatically from a DataFrame
def create_table_from_dataframe(df, table_name, conn):
    cursor = conn.cursor()
    columns = []
    for col, dtype in zip(df.columns, df.dtypes):
        sql_type = type_mapping.get(str(dtype), 'TEXT')
        columns.append(f"{col} {sql_type}")
    columns_sql = ", ".join(columns)
    # Drop the table if it already exists to recreate it
    cursor.execute(f"DROP TABLE IF EXISTS {table_name}")
    create_table_query = f"CREATE TABLE {table_name} ({columns_sql})"
    cursor.execute(create_table_query)

# Function to insert data from a DataFrame into the corresponding table
def insert_data_from_dataframe(df, table_name, conn, chunk_size=1000):
    cursor = conn.cursor()
    columns = ", ".join(df.columns)
    placeholders = ", ".join(["?" for _ in df.columns])
    insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    for start in range(0, len(df), chunk_size):
        end = start + chunk_size
        chunk = df.iloc[start:end]
        data_tuples = [tuple(x) for x in chunk.to_numpy()]
        cursor.executemany(insert_query, data_tuples)
    conn.commit()

# Connect to the database
conn = sqlite3.connect(database_name)

# Create tables and insert data for all DataFrames
for filename, df in combined_dataframes.items():
    table_name = filename.replace('.csv', '')
    create_table_from_dataframe(df, table_name, conn)
    insert_data_from_dataframe(df, table_name, conn)

# Close the connection
conn.close()